<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Редактировать книгу</title>
</head>
<body>
<form action="/songs/update" method="post">
    <input type="hidden" name="id" value="${song.id}">
    <table>
        <tr>
            <td>Наименование</td>
            <td><input name="name" value="${song.name}"></td>
        </tr>
        <tr>
            <td>Описание</td>
            <td><textarea name="description" content="${song.description}"></textarea></td>
        </tr>
        <tr>
            <td>Автор</td>
            <td><input name="author" value="${song.author}"></td>
        </tr>
        <tr>
            <td>Рейтинг</td>
            <td><input type="number" value="${song.rating}" step="0.1" name="rating"></td>
        </tr>
        <tr><td><input type="submit" value="Сохранить"></td></tr>
    </table>
</form>
</body>
</html>